.navspace {
	background-color: #222222;
	font-size: 1.5rem;
}

@media (max-width: 768px) {
	.navspace {
		font-size: 0.5rem;
	}
}

.navspace ul{
	padding-top: 10px;
	padding-right: 10px;
}

.nav-link {
	color: #ffffff;
}

.nav-link:hover {
	color: #ffc107;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: black;
	background-color: #ffc107;
}

body h1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
}

@media (max-width: 768px) {
	body h1 {
	    font-size: 2.5rem;
	    font-weight: 300;
	    line-height: 1.2;
	    color: #ffffff;
	}
}

#front-jumbo {
	height: 100vh;
	background-color: #222222;
	background-size: 100px 100px;
	padding-top: 0px;
	margin-bottom: 0px;
}
	
#jumbo-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
	#jumbo-text{
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

.front-down {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 2rem;
}

.sub-to-idx-3{
	color: #ffc107;
}
.sub2-to-idx-1{
	color: #ffc107;
}

.index-row{
	height: 65vh;
}

.index-row h1{
    font-size: 15rem;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
    margin: 0 auto;
}

.card-title{
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 768px) {
	.card{
		max-width: 100vw;
	}
}

.footer{
	padding-top: 10px;
	background-color: #222222;
}

.footer h2, .footer h4, .footer p{
	font-weight: 300;
	color: white;
}

#mc_embed_signup{background:#222; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
#mc_embed_signup_scroll{width:100%;}