#vision-jumbo h1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
}

#vision-jumbo {
	height: 33vh;
	background-color: #222222;
	background-size: 100px 100px;
	padding-top: 0px;
	margin-bottom: 0px;
}

#jumbo-text{
	margin-top: 5vh;
	margin-bottom: 10vh;
}

#swipe-title {
	padding-top: 5vh;
	padding-bottom: 10vh;
}

#swipe-title h2 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: black;	
}


#pin1{
	height: 100vh;
}

.screen-img{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 80% auto;
	background-repeat: no-repeat;
	background-position: left top;
}

#zero {
	background-image: url("../img/device-white.png");
}

#first {
	background-image: url("../img/device-first.png");
}

#second {
	background-image: url("../img/device-second.png");
}

#third {
	background-image: url("../img/device-third.png");
}

#fourth {
	background-image: url("../img/device-fourth.png");
}

.swipe-img-col {
	padding-left: 0;
}

.swipe-text-col {
	color: white;
	padding-left:  5vw;
	padding-right: 5vw;
}

.swipe-text-col h1 {
	/*font-size: 3rem;*/
}

.swipe-text-col p, ul {
	/*font-size: 1.5rem;*/
}

.swipe-row {
	height: 100vh;
}

.table-row {
	padding-top: 20vh;
	padding-bottom: 10vh
}

.table-row th, td {
	font-size: 1.2rem;
}

.table-responsive {
	padding-top: 3vh;
}

.orgs {
	height:50vh;
	background-color: #dddddd;
}

.org-title {
	padding-top: 3vh;
	padding-bottom: 4vh;
}

.org-logo img{
	width: 70%;
}

.rtimes {
	color: red;
}

.gcheck {
	color: green;
}