.navspace {
	background-color: #222222;
	font-size: 1.5rem;
}

.navspace ul{
	padding-top: 10px;
	padding-right: 10px;
}

.nav-link {
	color: #ffffff;
}

.nav-link:hover {
	color: #ffc107;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: black;
	background-color: #ffc107;
}


#vision-jumbo h1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
}

#vision-jumbo {
	height: 33vh;
	background-color: #222222;
	background-size: 100px 100px;
	padding-top: 0px;
	margin-bottom: 0px;
}

#jumbo-text{
	margin-top: 5vh;
	margin-bottom: 10vh;
}


.footer{
	padding-top: 10px;
	background-color: #222222;
}

.footer h2, .footer h4, .footer p{
	font-weight: 300;
	color: white;
}