#vision-jumbo h1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
}

#vision-jumbo {
	height: 33vh;
	background-color: #222222;
	background-size: 100px 100px;
	padding-top: 0px;
	margin-bottom: 0px;
}

#jumbo-text{
	margin-top: 5vh;
	margin-bottom: 10vh;
}

.vision-body {
	margin-top: 10vh;
}

.vision-body h1 {
	/*font-family: "ComputerModern", Times, serif;*/
	font-family: Montserrat, sans-serif;
	font-size: 3rem;
}

.vision-body h2 {
	/*font-family: "ComputerModern", Times, serif;*/
	font-family: Montserrat, sans-serif;
	font-size: 2.2rem;
}

.vision-body p {
	/*font-family: "ComputerModern", Times, serif;*/
	font-family: Roboto, sans-serif;
	font-size: 1.5rem;
	letter-spacing: -0.2px;
	line-height: 1.3
}

.vis-par {
	margin-top: 5vh;
}

.vis-par img {
	width: 100%;
}