/*
@font-face {
	font-family: ComputerModern;
	src: url("../fonts/cmunrm.otf") format("opentype");
}

@font-face {
	font-family: ComputerModern;
	font-weight: bold;
	src: url("../fonts/cmunrb.otf") format("opentype");
}
*/

.navspace {
	background-color: #222222;
	font-size: 1.5rem;
}

@media (max-width: 768px) {
	.navspace {
		font-size: 0.5rem;
	}
}

.navspace ul{
	padding-top: 10px;
	padding-right: 10px;
}

.nav-link {
	color: #ffffff;
}

.nav-link:hover {
	color: #ffc107;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: black;
	background-color: #ffc107;
}


#vision-jumbo h1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
}

#vision-jumbo {
	height: 33vh;
	background-color: #222222;
	background-size: 100px 100px;
	padding-top: 0px;
	margin-bottom: 0px;
}

#jumbo-text{
	margin-top: 5vh;
	margin-bottom: 10vh;
}

.vision-body {
	margin-top: 10vh;
}

.vision-body h1 {
	/*font-family: "ComputerModern", Times, serif;*/
	font-family: Montserrat, sans-serif;
	font-size: 3rem;
}

.vision-body h2 {
	/*font-family: "ComputerModern", Times, serif;*/
	font-family: Montserrat, sans-serif;
	font-size: 2.2rem;
}

.vision-body p {
	/*font-family: "ComputerModern", Times, serif;*/
	font-family: Roboto, sans-serif;
	font-size: 1.5rem;
	letter-spacing: -0.2px;
	line-height: 1.3
}

.vis-par {
	margin-top: 5vh;
}

.vis-par img {
	width: 100%;
}

.footer{
	padding-top: 3vh;
	background-color: #222222;
}

.footer h2, .footer h4, .footer p{
	font-weight: 300;
	color: white;
}

#mc_embed_signup{background:#222; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
#mc_embed_signup_scroll{width:100%;}